<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar animal</title>
</head>
<body>
<!-- Formulário para adicionar novo animal -->
<h2>Adicionar Novo Animal</h2>
<form action="/animal" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>
    
    <label for="sexo">Sexo:</label>
    <select id="sexo" name="sexo" required>
        <option value="Macho">Macho</option>
        <option value="Fêmea">Fêmea</option>
    </select>
    
    <label for="esterilizacao">Esterilização:</label>
    <select id="esterilizacao" name="esterilizacao">
        <option value="Castrado">Castrado</option>
        <option value="Vasectomizado">Vasectomizado</option>
        <option value="Fértil">Fértil</option>
    </select>

    <label for="cliente">Nome do Dono:</label>
    <input type="text" id="cliente" name="cliente" required>

    <button type="submit">Adicionar</button>
</form>
</body>
</html>