<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>

    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="container my-2">
      <h1>Informação clientes</h1>

      <table border="1" class="table table-striped table-responsive-md">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Celular</th>
            <th>Email</th>
            <th>Animais</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="cliente : ${clienteInfos}">
            <td th:text="${cliente.nome}"></td>
            <td th:text="${cliente.celular}"></td>
            <td th:text="${cliente.email}"></td>
            <td>
              <a th:href="@{'/veterinario/' + ${crmv} + '/cliente/' + ${cliente.cpf} + '/animais'}">
                Ver Animais
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
