<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Animais do Cliente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div th:replace="fragments/navbar"></div>

    <div class="container my-2">
      <h1 th:text="'Animais de ' + ${cliente.nome}"></h1>

      <table border="1" class="table table-striped table-responsive-md">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Espécie</th>
            <th>Idade</th>
            <th>Sexo</th>
            <th>Esterilização</th>
            <th>Detalhes</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="animal : ${animais}">
            <td th:text="${animal.nome}"></td>
            <td th:text="${animal.especie}"></td>
            <td th:text="${animal.idade} + ' anos'"></td>
            <td th:text="${animal.sexo}"></td>
            <td th:text="${animal.Esterilizacao}"></td>
            <td>
              <a th:href="@{'/animal/' + ${crmv} + '/' + ${animal.id}}"
                >Ver Detalhes</a
              >
              <!-- Link para detalhes -->
            </td>
          </tr>
        </tbody>
      </table>

      <a th:href="@{'/veterinario/' + ${crmv}}">Voltar</a><br />
      <a th:href="@{'/animal/' + ${crmv} + '/cadastro/' + ${cliente.cpf}}"
        >Novo animal</a
      >
    </div>
  </body>
</html>
