<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="navbar">
        <!-- Logo -->
        <a href="/home" class="logo"></a>

        <!-- Links da Navbar -->
        <nav class="navbar-links">
          <a href="/home">Home</a>
        </nav>

        <!-- Botão de Modo Escuro -->
        <button id="darkModeToggle" class="btn">
          <img src="/images/moon.png" alt="Ativar modo escuro" class="imagem-botao" />
        </button>
      </div>
    </header>

    <main class="content">
      <div class="container">
        <h1>Login</h1>

        <div class="error" style="color: red;" th:if="${error}">
          <p th:text="${error}"></p>
        </div>

        <form class="login_medvet" action="/veterinario/login" method="POST">
          <label for=></label>   
          <label for="crmv">CRMV:</label>
          <input type="text" id="crmv" name="crmv" placeholder="CRMV" required />

          <label for="senha">Senha:</label>
          <input type="password" id="senha" name="senha" placeholder="Senha" required />

          <button class="btn" type="submit">Login</button>
        </form>
      </div>
    </main>

    <footer>
      <p>&copy; 2024 ClaurianaVet. Todos os direitos reservados.</p>
    </footer>

    <script src="/js/darkModeToggle.js"></script>
  </body>
</html>
