<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Cadastro de Animal</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container my-2">
        <h1>Atualização de Animal</h1>
        <form th:action="@{'/animal/atualizar/' + ${crmv} + '/' + ${id_animal}}" th:object="${animal}" method="post"> <!-- Corrigido para /animal/cadastro -->
            
            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" th:field="*{nome}" required />
            </div>

            <div>
                <label for="sexo">Sexo:</label>
                <select id="sexo" name="sexo" th:field="*{sexo}" required>
                    <option value="" disabled selected>Selecione o sexo</option>
                    <option value="Macho">Macho</option>
                    <option value="Fêmea">Fêmea</option>
                </select>
            </div>

            <div>
                <label for="Esterilizacao">Esterilização:</label>
                <select id="Esterilizacao" name="Esterilizacao" th:field="*{Esterilizacao}" required>
                    <option value="" disabled selected>Selecione o estado de esterilização</option>
                    <option value="Fértil">Fértil</option>
                    <option value="Castrado">Castrado</option>
                    <option value="Vasectomizado">Vasectomizado</option>
                </select>
            </div>

            <div>
                <button type="submit" class="btn btn-success">Atualizar Animal</button>
            </div>
        </form>
    </div>
</body>
</html>
