<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Detalhes do Animal</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
  </head>
  <body>
    <div th:replace="fragments/navbar"></div>

    <div class="content">
      <div class="container my-2">
        <h1>Detalhes do Animal: <span th:text="${animal.nome}"></span></h1>

        <a class="btn" th:href="@{'/exame/' + ${crmv} + '/' + ${id_animal}}"
          >Novo Exame</a
        >

        <form
          class="btn"
          th:action="@{'/animal/atualizar/' + ${crmv} + '/' + ${id_animal}}"
          method="get"
        >
          <button type="submit" class="btn">Atualizar animal</button>
        </form>
        <form
          class="btn"
          th:action="@{'/animal/deletar'}"
          method="post"
          onsubmit="return confirmDelete()"
        >
          <input type="hidden" name="id_animal" th:value="${id_animal}" />
          <input type="hidden" name="crmv" th:value="${crmv}" />
          <button type="submit" class="btn">Deletar animal</button>
        </form>

        <h2>Hemogramas Realizados:</h2>
        <ul>
          <li th:each="hemograma : ${hemogramas}">
            <div id="hemograma-card">
              <h3>Ficha: <span th:text="${hemograma.id_hemograma}"></span></h3>
              <p>
                <strong>Hemácias:</strong>
                <span th:text="${hemograma.hemacias} + ' (milhões/mm3)'"></span>
              </p>
              <p>
                <strong>Hematócrito:</strong>
                <span th:text="${hemograma.hematocrito} + ' %'"></span>
              </p>
              <p>
                <strong>Hemoglobina:</strong>
                <span th:text="${hemograma.hemoglobina} + ' g/dL'"></span>
              </p>
              <p>
                <strong>Leucócitos:</strong>
                <span th:text="${hemograma.leucocitos} + '/mm3'"></span>
              </p>
              <p>
                <strong>Linfócitos:</strong>
                <span th:text="${hemograma.linfocitos} + '/mcL'"></span>
              </p>
              <p>
                <strong>Plaquetas:</strong>
                <span th:text="${hemograma.plaquetas} + '/mcL'"></span>
              </p>
              <p>
                <strong>Observações:</strong>
                <span th:text="${hemograma.observacoes}"></span>
              </p>

              <form
                class="btn"
                th:action="@{'/exame/' + ${hemograma.id_hemograma}}"
                method="post"
              >
                <input type="hidden" name="id_animal" th:value="${id_animal}" />
                <input type="hidden" name="crmv" th:value="${crmv}" />
                <button type="submit" class="btn">Exportar exame</button>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <script th:src="@{/js/confirmDelete.js}"></script>
  </body>
</html>
