<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Cadastro de Animal</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container my-2">
        <h1>Cadastro de Animal</h1>
        <form th:action="@{/animal/cadastro}" th:object="${animal}" method="post"> <!-- Corrigido para /animal/cadastro -->
            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" th:field="*{nome}" required />
            </div>

            <div>
                <label for="sexo">Sexo:</label>
                <select id="sexo" name="sexo" th:field="*{sexo}" required>
                    <option value="" disabled selected>Selecione o sexo</option>
                    <option value="Macho">Macho</option>
                    <option value="Fêmea">Fêmea</option>
                </select>
            </div>

            <div>
                <label for="esterilizacao">Esterilização:</label>
                <select id="esterilizacao" name="esterilizacao" th:field="*{esterilizacao}" required>
                    <option value="" disabled selected>Selecione o estado de esterilização</option>
                    <option value="Sim">Fértil</option>
                    <option value="Não">Castrado</option>
                    <option value="Não">Vasectomizado</option>
                </select>
            </div>

            <div>
                <label for="cliente">Cliente:</label>
                <select id="cliente" name="cpf" required>
                    <option value="" disabled selected>Selecione o cliente</option>
                    <tr th:each="cliente : ${clientes}">
                        <option th:value="${cliente.cpf}" th:text="${cliente.nome}"></option>
                    </tr>
                </select>
            </div>

            <div>
                <button type="submit" class="btn btn-success">Cadastrar Animal</button>
            </div>
        </form>
        <a th:href="@{/veterinario/{medVets.crmv}/cliente/{cliente.cpf}/animais}">Voltar para a lista de animais</a> <!-- Corrigido para usar th:href -->
    </div>
</body>
</html>
